body {
  margin: 0;
  font-family: sans-serif;
  font-size: 8pt;
}

.main-content {
  margin-top: 1em;
  padding-top: 0.5em;
}

.tab-pane {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-radius: 0px 0px 5px 5px;
  padding: 10px;
}

.nav-tabs {
  margin-bottom: 0;
}

a {
  color: black;
}

.searchResult {
  width: 100%;
  border: none;
  background: white;
  padding: 0.5em;
  text-align: left;
}

.searchResult:hover {
  background-color: lightgray;
  cursor: pointer;
}

.fieldsetButtons {
  display: flex;
}

.fieldsetButtons button {
  flex: 1;
  margin: 0 0.25em;
}

.fieldsetButtons button:first-child {
  margin-left: 0;
}

.fieldsetButtons button:last-child {
  margin-right: 0;
}

.weapon-search {
  position: absolute;
  width: 100%;
  margin: 0;
  top: 0;
  left: 0;
  background-color: white;
  border: 1px solid darkgrey;
  box-shadow: 8px 8px 16px lightgray;
  display: none;
  box-sizing: border-box;
}

.labelled-input {
  padding: 0.25em 0.25em 0.25em 0;
}

.labelled-input input {
  margin-right: 0.5em;
}
