@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

:root {
  font-size: 10pt;
}

html.dark .border-top-0 {
  border-top: 0px!important;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
}

.main-content {
  margin-top: 1em;
  padding-top: 0.5em;
}

.tab-pane {
  border-left: 1px;
  border-right: 1px;
  border-bottom: 1px;
  border-radius: 0px 0px 5px 5px;
  padding: 10px;
}

.nav-tabs {
  margin-bottom: 0;
}

/*
a {
  color: black;
}
*/
.searchResult {
  width: 100%;
  border: none;
  /*background: white; */
  padding: 0.5em;
  text-align: left;
}

.searchResult:hover {
  /*background-color: lightgray;*/
  cursor: pointer;
}

.weapon-search {
  position: absolute;
  width: 100%;
  margin: 0;
  top: 0;
  left: 0;
/*  background-color: white; */
  border: 1px solid; /*darkgrey;*/
  box-shadow: 8px 8px 16px; /*lightgray;*/
  display: none;
  box-sizing: border-box;
  z-index: 1;
}

.form-check-input {
  margin-top: 0px;
}

.labelled-input {
  padding: 0.25em 0.25em 0.25em 0;
  display: flex;
  align-items: center;
}

.labelled-input input {
  margin-right: 0.5em;
}

legend {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2rem;
  text-align: center;
  opacity: 80%;
}

.category-group {
  text-transform: uppercase;
  font-weight: bold;
  opacity: 50%;
  margin: 0.5em 0;
}

fieldset small {
  display: inline-block;
  margin-left: 1.5rem;
  margin-bottom: 0.1em;
  opacity: 50%;
}

.info small {
  display: inline-block;
  margin-left: 1.5rem;
  margin-bottom: 0.1em;
  opacity: 50%;
}

table {
  border-collapse: collapse;
  --table-border-width: 1px;
}

th.rotated-text{
  white-space: nowrap;
  position: relative;
}
th.rotated-text > div {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: left;
  transform:
    translate(calc(100% - var(--table-border-width) / 2), var(--table-border-width))
    rotate(315deg);
  transform-origin: 0% calc(100% - var(--table-border-width));
}
th.rotated-text > div > span {
  position: absolute;
  bottom: 0;
  left: 0;
}

td {
  text-align: right;
}
