body {
  margin: 0;
  font-family: sans-serif;
  font-size: 8pt;
}

fieldset {
  margin: 1em;
  padding: 0.5em;
}

fieldset div {
  margin: 0.5em 0;
}

button {
  font-size: inherit;
}

input {
  font-size: inherit;
}

a {
  color: black;
}

.searchResult {
  width: 100%;
  border: none;
  background: white;
  padding: 0.5em;
  text-align: left;
}

.searchResult:hover {
  background-color: lightgray;
  cursor: pointer;
}

.fieldsetButtons {
  display: flex;
}

.fieldsetButtons button {
  flex: 1;
  margin: 0 0.25em;
}

.fieldsetButtons button:first-child {
  margin-left: 0;
}

.fieldsetButtons button:last-child {
  margin-right: 0;
}
